<!DOCTYPE html>
<html>
<head>
  <title>Awesomeserver</title>
  <link rel="stylesheet" type="text/css" href="assets/style.css">
</head>

<body>
  <div id="wrapper">
    <div id="header">:)</div>
    <div id="content">
      Go Comic Sans
      <ul>
        <% Dir.entries('./app/views/').select {|f| !File.directory? f}.each do |file| %>
          <li><a href="<%= file.gsub('.html.erb', '') %>"><%= file.split('.').first %></a></li>
        <% end %>
      </ul>

    </div>
    
  </div>
</body>

</html>